@using CertificateRepository;
@using Inspinia_MVC5.Models;
@model NoteViewModel
@{
    ViewBag.Title = "Notes";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>
                        Notes
                    </h2>
                   
                    <p>
                        Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on available vertical space, sort of like a mason fitting stones in a wall. You’ve probably seen it in use all over the Internet.
                        <a href="http://masonry.desandro.com/" target="_blank">http://masonry.desandro.com/</a>
                    </p>
                </div>
            </div>
        </div>

        <div>
            <button class="btn navy-bg addNote" style="margin-bottom:20px; margin-left:15px;">Add New Note</button>
        </div>

        <div class="grid col-lg-12 grid-notes">
            @if (Model.Notes != null)
            {
                foreach (Note n in Model.Notes)
                {
                    <div class="grid-item">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h4>
                                   @n.Subject&nbsp;-&nbsp;@n.Category.Name
                                </h4>
                            
                                @n.notes
                                <input type="hidden" name="itemid" id="itemid" value="@n.Id">
                                <div>
                                    <span data-itemid="@n.Id" style="color: #808080;"class="fa fa-trash deleteNote pull-right alignright"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            @if (Model.Notes == null)
            {
                <div class="grid-item">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h4 class="font-bold">
                                Subject here
                            </h4>
                            This is a sample note. Once a user clicks the add new button above it will create for him notes to help him organize himself and this dummy note will disappear.
                            If you would like to see that happen please click the button above and add a note!
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal inmodal addNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-calendar-o modal-icon"></i>
                <h4 class="modal-title">Add Reminder</h4>
            </div>
            <div class="modal-body">

                <form class="form-add-note" method="post" action="/Notes/AddNote" id="add-note-form">
                    <div class="form-group">
                        <label>Subject *</label>
                        <input name="subject" id="subject" placeholder="subject" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Select Category *</label>
                        <select class="form-control required" name="category" id="category">
                            <option type="number" value="0">Select a category</option>
                            @foreach (Category c in Model.Categories)
                            {
                                <option type="number" value="@c.Id">@c.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea class="form-control" rows="5" cols="9" name="notes"></textarea>
                    </div>
                    <input type="hidden" name="itemId" id="itemId">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" name="commit" type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .grid .ibox {
        margin-bottom: 0;
    }

    .grid-item {
        margin-bottom: 25px;
        width: 300px;
    }
</style>

@section Scripts {
    @Scripts.Render("~/plugins/masonry")
    @Scripts.Render("~/plugins/validate")
    <script src="~/Scripts/site-scripts/notes-index.js"></script>
    <script type="text/javascript">
            $(window).load(function () {

                $('.grid').masonry({
                    // options
                    itemSelector: '.grid-item',
                    columnWidth: 300,
                    gutter: 25
                });

            });
        </script>
}
